@font-face {
    font-family: 'YUniverse';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/YUniverse/YUniverse-Light.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/YUniverse/YUniverse-Light.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/YUniverse/YUniverse-Light.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/YUniverse/YUniverse-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'YUniverse';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/YUniverse/YUniverse-Bold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/YUniverse/YUniverse-Bold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/YUniverse/YUniverse-Bold.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/YUniverse/YUniverse-Bold.ttf') format('truetype');
}
